<ion-view view-title="Rent" >
	<ion-content >

		<ion-refresher
				pulling-text="Pull to refresh..."
				on-refresh="refreshItems()" >
		</ion-refresher >

		<div class="list card item-card"
		     ng-repeat="property in rent.properties" ui-sref="tab.rent-property({propertyId: property.id})">

			<div class="item" >
				<h2 >{{property.address}}</h2 >
				<p>{{property.city}} {{property.state}}</p>
			</div >

			<div class="item item-image"
			     ng-if="property.photo" >
				<img ng-src="{{property.photo}}" >
			</div >

			<div class="item " >
				<span class="category" >Bedrooms: {{property.bedrooms}}</span >
				<span class="calories" > Bathrooms: {{property.bathrooms}}</span >
			</div >

		</div >


		<ion-infinite-scroll
				ng-if="rent.hasMore"
				on-infinite="nextPage()"
				immediate-check="false" >
		</ion-infinite-scroll >

		<div class="padding text-center"
		     ng-if="!rent.hasMore" >
			<p >No more results</p >
		</div >
	</ion-content >
</ion-view >
